body{
    display: grid;
    grid-template-areas: 
     "cabeca cabeca cabeca"
     "braco corpo corpo"
     "perna perna perna";
    grid-template-rows: 200px 600px 150px;
    grid-template-columns: 200px auto auto;  
}
header{
    background-color: black;
    grid-area: cabeca;
}
main{
    background-color: blue;
    grid-area: corpo;
}
aside{
    background-color: brown;
    grid-area: braco;
}
footer{
    background-color: chartreuse;
    grid-area: perna;
}
@media only screen and (max-width: 850px){
body{
       display: grid;
      grid-template-areas:
      "cabeca cabeca"
      "braco corpo"
      "perna perna";
      grid-template-rows: 200px 700px 250px;
      grid-template-columns: 80px auto;

}    
}